<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gakki.hk.artistic_exploration_android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.gakki.hk.artistic_exploration_android.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.gakki.hk.artistic_exploration_android.intent_filter.IntentFilterTestActivity">
            <intent-filter>
                <action android:name="artistic_exploration_android"/>
                <action android:name="artistic_exploration_android_1"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.DEFAULT_1"/>

                <data android:scheme="http" android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity android:name="com.gakki.hk.artistic_exploration_android.ipc.IpcTestActivity"
            android:process="com.gakki.hk.artistic_exploration_android.remote"/>
    </application>

</manifest>