<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gakki.hk.artistic_exploration_android">

    <!--remote service的权限声明-->
    <permission
        android:name="com.gakki.hk.artistic_exploration_android.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.gakki.hk.artistic_exploration_android.permission.ACCESS_BOOK_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.gakki.hk.artistic_exploration_android.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.gakki.hk.artistic_exploration_android.intent_filter.IntentFilterTestActivity">
            <intent-filter>
                <action android:name="artistic_exploration_android" />
                <action android:name="artistic_exploration_android_1" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.DEFAULT_1" />

                <data
                    android:mimeType="video/*"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.gakki.hk.artistic_exploration_android.ipc.IpcTestActivity"
            android:process="com.gakki.hk.artistic_exploration_android.remote" />

        <activity android:name=".ipc.MessengerActivity" />
        <activity android:name=".ipc.AIDLBookManagerActivity" />
        <activity android:name=".ipc.BookContentProviderActivity"/>
        <activity android:name=".ipc.TcpClientActivity" />
        <activity android:name=".view_event_mechanism.BasicScrollActivity" />
        <activity android:name=".view_event_mechanism.ScrollConflictActivity" />

        <service
            android:name=".ipc.MessengerService"
            android:process=":remote" />

        <service
            android:name=".ipc.AIDLBookManagerService"
            android:process=":remote" />

        <service android:name=".ipc.TcpServerService"
            android:process=":tcpServer"/>

        <provider
            android:name=".ipc.BookContentProvider"
            android:authorities="com.gakki.hk.artistic_exploration_android.provider"
            android:permission="com.gakki.hk.artistic_exploration_android.permission"
            android:process=":provider"/>

    </application>

</manifest>